/* BACKGROUND IMAGE FULL SCREEN */
html { 
	background: url(./images/ezgif.com-gif-maker.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }


/* BODY */	
html,
body {
	height: 100%;
	position: relative;
}

.content {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

p {
	font-size: 25px;
	background-color: #ffffff86;
	border-radius: 5px;
	text-align:justify;
	width: 95%
}

h1 {
	background-color: #00152bc2;
	color: white;
	font-size: 70px;
	/* margin-left: 140px;
	margin-right: 140px; */
	border-radius: 15px;
	}

h2 {
	background-color: #00152bc2;
	color: white;
	font-size: 40px;
	border-radius: 15px;
}

/* .container {
  z-index: 10;
} */

.main-gif {
	width: 95%;
	display: block;
}

#quote {
	text-align: center;
	display: inline-block;

}

.graph {
	/* sizes="(max-width: 520px) 100vw, 520px; */
	width: 90vw;
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 20px 0;
}

/* MAIN PAGE HEADER */
.site-title-wrapper {
	width: 100%;
	float: center;
	position: relative;
	z-index: 10;
	padding: 1rem;
	text-align: center;
}

.text-wrapper h1 a {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

/* NAVIGATION BAR */
nav {
	width: 100vw;
	height: 50px; /*adjust as necessary*/
	background-color: #0b98de;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 10px;
}

nav a {
	display: block;
	float: left;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	padding: 15px;
	text-decoration: none;
}

nav a:hover {
  background-color: #17b0cf;
}

@media screen and (max-width: 500px) {
.navbar a {
  float: none;
  display: block;
}

/* MAIN BODY */

.main-body {
  font-size: 100px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

/* FOOTER */
html, 
body {   
  height: 100%; 
} 
body { 
  display: flex;   
  flex-direction: column; 
}
 
.content { 
  flex: 1 0 auto; 
} 
#footer {   
	position: absolute;
	width: 100%;
	text-align: left;
	font-size: 15px;
	background: #42A5F5;
	color: white;
	left:0;
	bottom:0;
	right:0;
}

.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
 }

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font: 16px Sans-Serif;
}
h1 {
	margin: 0 0 20px 0;
}
p {
	margin: 0 0 20px 0;
}
footer {
	background: #42A5F5;
	color: white;
}
